# Токен Telegram бота (отримати у @BotFather)
BOT_TOKEN=8572925647:AAE6o6NudhmQOLZzw1Y4emE-afL65EyPilA

# API ключ Google Gemini (отримати на https://aistudio.google.com/app/apikey)
GEMINI_API_KEY=AIzaSyA0S8JLr-yXKpmxUuRq56MpbzulyHQIW_E
